#header{
	background-color: #3f603f;
	border-bottom: black 1px solid;
}

#headerContainer{
	width: 90%;
}

#brand{
	color: white;
}

#slogan{
	color: white;
	font-size: 12px;
	font-style: italic;
}

.glyphicon{
	color: white;
}

#journalEntry{
	background-image: url('../images/weed-pic.jpg');
	background-size: cover;
	min-height: 950px;
}

#pageEntry{
	background-color: white;
	width: 60%;
	min-height: 850px;
	margin: auto;
	float: none;
	margin-top: 70px;
	border: black solid 1px;
}

#footer{
	background-color: #545353;	
	margin-bottom: 0;
}

#footerLinks{
	width: 225px;
	margin: auto;
	display: block;
	float: none;
	text-align: center;
}

#footerLinks li a{
	color: white;
}

#topRow{
	width: 90%;
	margin: auto;
	margin-top: 5%;
	border-bottom: solid lightgrey 1px;
}

#strainSelect{
	font-size: 20px;
}

#dateSelect{
	font-size: 20px;
	text-align: right;
}

#strainSearch{
	width: 80%;
}

#questionOne{
	width: 90%;
	margin: auto;
}

.smokingIcons{
	display: inline;
	margin: 30px;
	margin-right: 30px;
}

.smokingIcons button{
	border: none;
	background-color: white;	
}

.smokingIcons button:hover{
	border: solid gold 2px;	
}

.smokingPic{
	width: 50px;
	height: 50px;
}

#questionTwo{
	width: 90%;
	margin: auto;
}

.feelingIcons{
	display: inline;
	margin: 40px;
	margin-right: 20px;
}

.feelingPic:hover{
	border: solid gold 2px;
}

.feelingIcons img{
	width: 50px;
	height: 50px;
	margin-top: 20px	
}



#questionThree{
	width: 90%;
	margin: auto;
}

textarea{
	width: 100%;
	border: 1px solid lightgrey;
}

#questionFour{
	width: 90%;
	margin: auto;
}

#button{
	margin-left: 5%;
	margin-top: 10px;
}

#strainOrigin{
	width: 90%;
	margin: auto;
	margin-top: 10px;
}

input[type=radio]{
	display: inline;
	margin: 10px;
	margin-left: 40px;
}

#reminderRow{
	width: 90%;
	margin: auto;
}

#messageList{
	display: inline-block;
}

select{
	margin-right: 50px;
}

h4{
	color: darkgreen;
}